$footer-height: 160px;

@media screen and (max-width: 993px){
  $footer-height: 270px;
}

footer.page-footer {
  & > div.container {
    overflow: hidden;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    &.ng-enter {
      animation: enter 0.3s ease-in-out normal both;
    }
    @keyframes enter {
      0% {
        height: 0px;
      }
      90% {
        height: $footer-height;
      }
      100% {
        height: auto;
      }
    }
    &.ng-leave {
      animation: enter 0.3s ease-in-out reverse both;
    }
  }
  
  z-index: 0;
  .social {
    position: relative;
    height: 48px;
    width: 30%;
    max-width: 48px;
    display: inline-block;
    margin: 2px;
    a {
      padding: 0;
      img {
        max-height: 100%;
        max-width: 100%;
      }
    }
  }
}