$grid-tile-height: 300px;
.grid {
  .grid-header {
    display: block;
    width: 100%;
    h2 {
      display: inline-block;
    }
  }
  .grid-body {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    .grid-tile {
      display: block;
      flex-basis: $grid-tile-height;
      flex-grow: 1;
      flex-shrink: 1;
      max-height: $grid-tile-height;
      position: relative;
      min-height: 200px;
      min-width: 200px;
      border-radius: 3px;
      overflow: hidden;
      margin: 5px;
      cursor: pointer;
      figure {
        position: relative;
        height: $grid-tile-height;
        width: 100%;
        margin: 0;
        display: block;
        img {
          transition: all 1s;
          max-height: 100%;
          max-width: 100%;
          overflow: hidden;
          vertical-align: middle;
          text-align: center;
          display: table-cell;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          z-index: 1;
          border-radius: 3px;
          &.active {
            visibility: visible;
            opacity: 1;
          }
          &.hidden {
            visibility: hidden;
            opacity: 0;
          }
        }
        figcaption {
          visibility: hidden;
          opacity: 0;
          transition: all 0.3s;
          position: absolute;
          height: 100%;
          width: 100%;
          background-color: rgba(black, 0.8);
          color: white;
          top: 0;
          left: 0;
          z-index: 2;
          text-align: center;
          span {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, 100%);
            transition: transform 0.5s;
          }
        }
        &:hover {
          figcaption {
            visibility: visible;
            opacity: 1;
            span {
              transform: translate(-50%, -50%);
            }
          }
        }
      }
    }
  }
  .list-body {
    .grid-list {}
  }
}