#home {
  width: 100%;
  height: 100%;
  text-align: center;
  div {
    display: block;
    margin: 15px auto;
    position: relative;
  }
  .headshot-wrapper {
    height: 200px;
    width: 200px;
    img {
      border-radius: 2px;
    }
  }
  .logo-wrapper {
    height: 140px;
    width: 140px;
  }
  .slogan {
    p {
      margin: 0px auto;
    }
  }
}