@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,700');

@font-face {
	font-family: 'Roboto';
	src: url('../node_modules/materialize-css/dist/fonts/roboto/Roboto-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../node_modules/materialize-css/dist/fonts/roboto/Roboto-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../node_modules/materialize-css/dist/fonts/roboto/Roboto-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../node_modules/materialize-css/dist/fonts/roboto/Roboto-Medium.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../node_modules/materialize-css/dist/fonts/roboto/Roboto-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@import "../node_modules/materialize-css/sass/components/color";

$content-width: 850px;

/* Professional Theme */
$primary-nav: color('blue-grey', 'darken-4');
$nav-item-active: color('blue-grey', 'lighten-1');
$nav-name: #333333;
$sidebar-wave: rgba(color('blue-grey', 'darken-1'), 0.65);
$sub-nav-text: color('blue-grey', 'base');
$sub-nav-text-hover: color('blue-grey', 'lighten-1');
$sub-nav-indicator: color('blue-grey', 'darken-2');

$grey-ripple: color('grey', 'base');

/* Light Blue Theme */
//$primary-nav: color('light-blue', 'base');
//$nav-item-active: color('light-blue', 'lighten-1');
//$nav-name: #333333;
//$sidebar-wave: rgba(33, 150, 243, 0.65);
