<div id="experience">
  <div class="col s12 m7">
    <h2 class="header">Experience</h2>
    <!--
    <ul class="collapsible popout" data-collapsible="accordion">
      <li ng-repeat="job in workHistory">
        <div class="collapsible-header"><i class="material-icons mdi" ng-class="job.icon"></i>{{job.title}}<span class="company">{{job.company}}</span></div>
        <div class="collapsible-body">
          <div class="row">
            <div class="col m6 s6">
              <p>{{job.start}} - {{job.end}}</p>
            </div>
            <div class="col m6 s6">
              <p>Contact: <a href="mailto:{{job.contactEmail}}?Subject=Questions%20About%20Brandon%20Groff">{{job.contact}}</a></p>
            </div>
          </div>
          <div class="row">
            <div class="col s12 m12">
              <p class="location">{{job.location}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col s12 m12">
              <p class="description">{{job.description}}</p>
            </div>
          </div>
        </div>
      </li>
    </ul>
-->

    <div class="row" ng-repeat="job in workHistory">
      <div class="col s12 m12">
        <div class="card center card-more-animated background-pulse-hover-activator">
          <!--
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="images/office.jpg">
          </div>
-->
          <div class="card-content">
            <span class="activator-wrapper">
               <a class="activator waves-effect waves-circle waves-gray btn-floating secondary-content btn-small invisible background-pulse-wrapper">
              <i class="material-icons small background-pulse">more_vert</i>
            </a>
             </span>
            <h3 class="card-title grey-text text-darken-4">{{job.title}}
            </h3>
            <h4 class="card-title sub-title">{{job.company}}</h4>
            <p class="center">{{job.location}}</p>
            <p class="center">{{job.start}} - {{job.end}}</p>
          </div>
          <div class="card-action">
            <a href="mailto:{{job.contactEmail}}?Subject=Inquiries%20about%20Brandon%20Groff">Contact {{job.contact}}</a>
          </div>
          <div class="card-reveal">
            <span class="activator-wrapper">
               <a class="waves-effect waves-circle waves-gray btn-floating secondary-content btn-small invisible close">
              <i class="material-icons">close</i>
            </a>
            </a>
             </span>
            <h3 class="card-title grey-text text-darken-4">{{job.title}}</h3>
            <h4>{{job.company}}</h4>
            <p class="center">{{job.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>