<div id="home">
    <div class="headshot-wrapper center">
        <img id="headshot" class="image-gray" src="./assets/images/headshot_crop@3x.jpg" srcset="./assets/images/headshot_crop.jpg 200w, ./assets/images/headshot_crop@2x.jpg 400w">
    </div>
    <div class="logo-wrapper pulse center">
        <img class="logo" src="./assets/images/logo_v2.svg" />
    </div>
    <div class="name typewriter center">
        <h2>Brandon Groff</h2>
    </div>
    <div class="typewriter slogan center">
        <p>I'm a multi-platform developer with a knack for User-Experience and a kick of design skills. My passions include mobile and web-based application development and designing for small-screen experiences.</p>
    </div>
    <center>
        <span class="social">
          <a class="hover-pulse" href="https://www.facebook.com/brandon.groff.58" target="_blank"><img src="./assets/images/Social/Facebook_icon.svg" /></a>
        </span>
        <span class="social">
          <a class="hover-pulse" href="https://twitter.com/EPICmynamesbg" target="_blank"><img src="./assets/images/Social/Twitter_icon.svg" /></a>
        </span>
        <span class="social">
          <a class="hover-pulse" href="https://www.linkedin.com/pub/brandon-groff/93/58/6a2/en" target="_blank"><img src="./assets/images/Social/Linkedin_icon.svg" /></a>
        </span>
        <span class="social">
          <a class="hover-pulse" href="https://www.github.com/EPICmynamesbg" target="_blank"><img src="./assets/images/Social/Github_icon.svg" /></a>
        </span>
    </center>
</div>