<div id="home">
  <div class="headshot-wrapper center">
    <img id="headshot" class="image-gray" src="./assets/images/headshot_crop@3x.jpg" srcset="./assets/images/headshot_crop.jpg 200w, ./assets/images/headshot_crop@2x.jpg 400w">
  </div>
  <div class="logo-wrapper pulse center">
    <img class="logo" src="../assets/images/logo.svg" />
  </div>
  <div class="name typewriter center">
    <h2>Brandon Groff</h2>
  </div>
  <div class="typewriter slogan center">
    <p>I'm a multi-platform developer with a knack for User-Experience and a kick of design skills. My passions include mobile and web based application development and designing for small-screen experiences.</p>
  </div>
</div>