<div class="grid grid-wrapper">
  <div class="grid-header">
    <h2>Projects</h2>
    <span class="grid-style-bar">
      <button type="button" class="btn waves-effect waves-light" ng-click="setStyle('tiles')" ng-class="[gridStyle == 'tiles' ? 'active z-depth-0':'']" title="Tile View" ><i class="material-icons">view_module</i></button>
      <button type="button" class="btn waves-effect waves-light" ng-click="setStyle('list')" ng-class="[gridStyle == 'list' ? 'active z-depth-0':'']" title="List View"><i class="material-icons">view_list</i></button>
    </span>
  </div>
  <div class="grid-body tile-body" ng-show="gridStyle == 'tiles'">
    <grid-tile ng-repeat="tile in data" project="tile"></grid-tile>
  </div>
  <div class="list-body" ng-show="gridStyle == 'list'">
    <ul class="collection">
      <grid-list ng-repeat="list in data" project="list"></grid-list>
    </ul>
  </div>

</div>