<nav class="light-blue">
  <div class="nav-wrapper">
    <a class="brand-logo right" ui-sref="Home" ui-sref-active="active"><img class="logo" src="./assets/images/logo_v2.svg" /></a>
    <p class="name right" ng-class="true ? 'fade-in':''">Brandon Groff</p>
    <a data-activates="mobile-demo" class="button-collapse show-on-small-and-down"><i class="material-icons">menu</i></a>
    <ul class="left hide-on-small-and-down">
      <li class="waves-effect waves-light" ui-sref-active="active"><a ui-sref="About">About</a></li>
      <li class="waves-effect waves-light" ui-sref-active="active"><a ui-sref="Experience">Experience</a></li>
      <li class="waves-effect waves-light" ui-sref-active="active"><a ui-sref="Projects">Projects</a></li>
<!--      <li class="waves-effect waves-light" ui-sref-active="active"><a ui-sref="Connect">Connect</a></li>-->
    </ul>
    <ul class="side-nav show-on-small-and-down blue-grey lighten-5" id="mobile-demo">
      <div class="side-nav-topper" ui-sref="Home">
        <div class="brand-logo">
          <img class="logo" src="./assets/images/logo_v2.svg" />
        </div>
        <p class="name">Brandon Groff</p>
      </div>
      <li class="waves-effect waves-blue" ui-sref-active="active"><a ui-sref="About">About</a></li>
      <li class="waves-effect waves-blue" ui-sref-active="active"><a ui-sref="Experience">Experience</a></li>
      <li class="waves-effect waves-blue" ui-sref-active="active"><a ui-sref="Projects" >Projects</a></li>
<!--      <li class="waves-effect waves-blue" ui-sref-active="active"><a ui-sref="Connect">Connect</a></li>-->
      <li class="side-nav-footer">
        <center>
          <span class="social">
          <a class="hover-pulse" href="https://www.facebook.com/brandon.groff.58" target="_blank"><img src="./assets/images/Social/Facebook_icon.svg" /></a>
        </span>
          <span class="social">
          <a class="hover-pulse" href="https://twitter.com/EPICmynamesbg" target="_blank"><img src="./assets/images/Social/Twitter_icon.svg" /></a>
        </span>
          <span class="social">
          <a class="hover-pulse" href="https://www.linkedin.com/pub/brandon-groff/93/58/6a2/en" target="_blank"><img src="./assets/images/Social/Linkedin_icon.svg" /></a>
        </span>
          <span class="social">
          <a class="hover-pulse" href="https://www.github.com/EPICmynamesbg" target="_blank"><img src="./assets/images/Social/Github_icon.svg" /></a>
        </span>
        </center>
      </li>
    </ul>
  </div>
</nav>