<div ng-show="showPopup" id="imagePopup">
    <div id="closeDIV"><p id="close" ng-click="closePopup()"> Close </p></div>
    <div id="imagePane" ng-swipe-left="previous()" ng-swipe-right="next()">
        <div id="leftArrow" ng-click="previous()">
            <span> < </span>
        </div>
        <img src="{{selectedImageURL}}"/>
        <div id="rightArrow" ng-click="next()">
            <span> > </span>
        </div>
    </div>
</div>

<div id="content">
    
    <div class="image_set" ng-repeat="item in photoGallery">
        <img ng-click="loadImage(photoGallery.indexOf(item))" ng-src="{{item.image}}"/>
        <p class="description">{{item.description}}</p>
    </div>
    
</div>