<div ng-show="showPopup" id="imagePopup">
    <div id="closeDIV"><p id="close" ng-click="closePopup()"> X </p></div>
    <div id="imagePane">
        <div ng-mouseenter="leftHovering = true" ng-mouseleave="leftHovering = false" ng-class="{'hover': leftHovering}" id="leftArrow" ng-click="previous()">
            <span> < </span>
        </div>
        <span ng-swipe-left="next()" ng-swipe-right="previous()"><img src="{{selectedImageURL}}"/></span>
        <div ng-mouseenter="rightHovering = true" ng-mouseleave="rightHovering = false" ng-class="{'hover': rightHovering}" id="rightArrow" ng-click="next()">
            <span> > </span>
        </div>
    </div>
</div>

<div id="content">
    
    <div class="image_set" ng-repeat="item in photoGallery">
        <img ng-click="loadImage(photoGallery.indexOf(item))" ng-src="{{item.image}}"/>
        <p class="description">{{item.description}}</p>
    </div>
    
</div>