<div id="content" lang="en">
    <div class="intro">
        <h1>Introduction</h1>
        <p>As a student in the Honors College at <a href="http://cms.bsu.edu/" target="_blank">Ball State University</a>, I am actively pursuing a bachelor's degree in Computer Science and a minor in Computer Technology. I am expected to graduate in 2017. Going into my senior year, I have taken a much bigger focus on UX - User Experience. While my skill set is very diverse, I have a passion designing and creating interfaces that are both elegent and intuitive. I've realized that a good UI isn't created in an hour, but takes scalable amounts of time for planning, mockups, etc. before the actual programming even begins. Of course, my primary focus is programming, so I love making these designs a reality and achieving even the smallest animations noted.</p>
        <img id="cardinal" src="/images/bsu-logo.png" title="Ball State Cardinal's" alt="Cardinal" />
        <!-- Image copyright of Ball State University. I did not create this image.-->
    </div>
    <div class="history">
        <h3>History</h3>
        <p>Hailing from the small town of <a href="http://www.versaillesohio.cc" target="_blank">Versailles, OH</a>, I am a proud graduate of the Versailles High School Class of 2013. Throughout high school, my focuses were grades, music, and sports. While graduating high school with ~3.9 GPA, I also was a varsity golfer and bowler; as if that wasn't enough, I was a dance captain in our show choir and I played a lead role in the musical every year. Coming to college, I decided to study Computer Science because I always loved math and was intrigued by the calculator programming that a friend had taught me. At the time, I never thought that learning something so small would drive me to the place I am now.</p>
        <img id="tiger" src="/images/tiger.jpg" title="Versailles Tigers" alt="Tiger" />
        <!-- Image copyright of Versailles High School. I did not create this image.-->
    </div>
    <br/>
    <div class="recent_activity">
        <h5>Recent Activity</h5>
        <p>This summer has been jam packed full of code, besides just all of it that I do at work! In my spare time, I've done a few summer projects, including my first IoT project, <a href="./WiFi-USB">WiFi-USB</a>. In another project, GoDex, I led a team to speed build an application in a week. Meanwhile all of this, I've been finishing up the application for my Senior Honors Thesis. It's been busy! But check out WiFi-USB and GoDex on the projecs page!</p>
    </div>
    <br/>
    <div class="content">
        <div class="important">
            <h2>Major: Computer Science</h2>
            <h4>Minor: Computer Technology</h4>
            <h4>University: Ball State University</h4>
            <h4>GPA: 3.7</h4>
        </div>
        <h3>Technical Skills</h3>
        <div class="columns">
            <ul>
                <li ng-repeat="skill in skills | orderBy: name">{{skill}}</li>
            </ul>
        </div>
        <h3>Interests</h3>
        <div class="columns">
            <ul>
                <li ng-repeat="interest in interests | orderBy: name">{{interest}}</li>
            </ul>
        </div>
        <h3>Personality Traits</h3>
        <ul class="traits">
            <li ng-repeat="trait in personalityTraits | orderBy: name">{{trait}}</li>
        </ul>
    </div>
    <br/>
    <div class="experience">
        <h2>Experience</h2>
        <div class="job" ng-repeat="job in jobs">
            <h4>{{job.title}} for {{job.company}}</h4>
            <div>
                <h5>{{job.location}}</h5>
                <h6>{{job.start}} - {{job.end}}</h6>
            </div>
            <div>
                <p>Contact: {{job.contact}} at <a href="mailto:{{job.contactEmail}}?subject=Brandon%20Groff">{{job.contactEmail}}</a>
                </p>
            </div>
            <p class="jobDesc">{{job.description}}</p>
        </div>
    </div>
</div>