<div id="content" lang="en">
    <div class="intro">
        <h1>Introduction</h1>
        <p>As a student in the Honors College at <a href="http://cms.bsu.edu/" target="_blank">Ball State University</a>, I am actively pursuing a bachelor's degree in Computer Science and a minor in Computer Technology. I am expected to graduate in 2017. I thoroughly enjoy working with computers and technology on all levels; from Operating Systems to Coding to Hardware, I am always striving to learn more about what I love. My most recent achievment is the completion of this website, which I created from scratch. I've also just finished learning the foundation of Objective-C, and am on my way to devloping iOS apps. To see what else I'm busy with, check out the projects tab!</p>
        <img id="cardinal" src="/images/cardinal.png" title="Ball State Cardinal's" alt="Cardinal" />
        <!-- Image copyright of Ball State University. I did not create this image.-->
    </div>
    <div class="history">
        <h3>History</h3>
        <p>Hailing from the small town of <a href="http://www.versaillesohio.cc" target="_blank">Versailles, OH</a>, I am a proud graduate of the Versailles High School Class of 2013. Throughout high school, my focuses were grades, music, and sports. While graduating high school with ~3.9 GPA, I also was a varsity golfer and bowler; as if that wasn't enough, I was a dance captain in our show choir and I played a lead role in the musical every year. Coming to college, I decided to study Computer Science because I always loved math and was intrigued by the calculator programming that a friend had taught me. At the time, I never thought that learning something so small would drive me to the place I am now.</p>
        <img id="tiger" src="/images/versailles_150.jpg" title="Versailles Tigers" alt="Tiger" />
        <!-- Image copyright of Versailles High School. I did not create this image.-->
    </div>
    <br/>
    <div class="recent_activity">
        <h5>Recent Activity</h5>
        <p>On the weekend of February 27, I attended <a href="http://www.hackillinois.org/" target="_blank">HackIllinois 2015</a> at the <a href="http://illinois.edu/" target="_blank">University of Illinois at Urbana-Champaign</a>. Our group decided to try out the new iOS Swift, and we made an app that's relatable to every college student. While we didn't earn any prizes, we all learned a lot about Swift and got to see some cool new hacks. So go ahead, check out our app on the <a ng-click="projectClick()">projects</a> page!</p>
    </div>
    <br/>
    <div class="content">
        <div class="important">
            <h2>Major: Computer Science</h2>
            <h4>Minor: Computer Technology</h4>
            <h4>University: Ball State University</h4>
            <h5>GPA: 3.8</h5>
        </div>
        <h3>Technical Skills</h3>
        <div class="columns">
            <ul>
                <li ng-repeat="skill in skills">{{skill}}</li>
            </ul>
        </div>
        <h3>Interests</h3>
        <div class="columns">
            <ul>
                <li ng-repeat="interest in interests">{{interest}}</li>
            </ul>
        </div>
        <h3>Personality Traits</h3>
        <ul class="traits">
            <li ng-repeat="trait in personalityTraits">{{trait}}</li>
        </ul>
    </div>
    <br/>
    <div class="experience">
        <h2>Experience</h2>
        <div class="job" ng-repeat="job in jobs">
            <h4>{{job.title}} for {{job.company}}</h4>
            <div>
                <h5>{{job.location}}</h5>
                <h6>{{job.start}} - {{job.end}}</h6>
            </div>
            <div>
                <p>Contact: {{job.contact}} at <a href="mailto:{{job.contactEmail}}?subject=Brandon%20Groff">{{job.contactEmail}}</a>
                </p>
            </div>
            <p class="jobDesc">{{job.description}}</p>
        </div>
    </div>
</div>