<div id="content" lang="en">
    <div class="project" ng-repeat="project in projects">
        <h2 class="projectTitle" ng-click="singleProjectClick(project.title)">{{project.title}}</h2>
        <div class="line"></div>
        <div class="project_content">
            <h3>Status: {{project.status}}</h3>
            <h5>Time Frame: {{project.start}} - {{project.end}}</h5>
            <h6 ng-show="project.showEvent">Event: {{project.event}}</h6>
            <p>{{project.description}}</p>
        </div>
        <div class="project_carousel">
            <ul rn-carousel rn-carousel-transition="fadeAndSlide" rn-carousel-buffered rn-carousel-pause-on-hover rn-carousel-controls>
                <li ng-repeat="image in project.images"><img alt="Loading..." ng-src="{{image}}" ng-click="showImagePopup(image, $index, $parent.$index)"/></li>
            </ul>
        </div>
        <p class="interactText mobileOnly">&lpar;Swipe or tap the image to see more&rpar;</p>
    </div>
    <div class="oldProjectBlock">
    	<p ng-click="viewOldProjects()">View older projects</p>
    </div>
</div>

<div class="imagePopup fade" id="popup" ng-show="showPopup" ng-swipe-right="popupNavigation(-1);" ng-swipe-left="popupNavigation(1);" ng-keyup="key($event)" tabindex="1">
	<div class="relFrame top">
		<div class="closePopup rippleEffect" ng-click="closePopup()">X</div>
		<div class="mobileOnly popupBottomText">Swipe left/right for next</div>
	</div>
	<div class="relFrame bottom">
		<span class="popupNav leftNav desktopOnly" ng-click="popupNavigation(-1); $event.stopPropogation();"></span>
		<img class="popupImageCSS" ng-src="{{popupImage}}" alt="popupImage" ng-if="popupImage" ng-click="$event.stopPropagation()"/>
		<span class="popupNav rightNav desktopOnly" ng-click="$event.stopPropogation(); popupNavigation(1); "></span>
	</div>
</div>