.image_set {
    margin-top: 1em;
    margin-bottom: 1em;
    display: inline-block;
    width: 29%;
    height: 280px;
    margin-left: 2%;
    margin-right: auto;
    align-content: center;
    text-align: center;
}

.image_set img {
    cursor: pointer;
    display: block;
    max-width: 100%;
    max-height: 90%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    vertical-align: top;
}

.description{
    display: block;
    text-align: center;
    font-size: .75em;
    vertical-align: bottom;
}

#imagePopup {
    position: fixed;
    width: 86%;
    height: 86%;
    background-color: #4E5E6D;
    z-index: 1000;
    margin: 0 0 0 0;
    top: 7%;
    bottom: 7%;
    left: 7%;
    right:7%;
    border-radius: 20% 5%;
    border: 5px solid black;
}

#closeDIV {
    display: block;
    text-align: right;
    margin-right: 4%;
    margin-top: 1%;
}

#close {
    background-color: red;
    cursor: pointer;
    display: inline;
    border-radius: 8%;
    font-weight: 700;
    padding: 2px;
}

#imagePane{
    display: block;
    height: 80%;
    width: 100%;
    margin: auto auto auto auto;
}

#imagePopup span {
    width:88%;
    height: 100%;
    display: inline-block;
}

#imagePopup img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    vertical-align: middle;
}

#rightArrow, #leftArrow {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    height: 96%;
    width: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    font-weight: 900;
    text-align: center;
}

#rightArrow span, #leftArrow span {
    display: inline-block;
    height: auto;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

#leftArrow span {
    
}

#rightArrow span {
    
}

#rightArrow {
    margin-right: 2%;
}

#leftArrow {
    margin-left: 4%;
}

.hover {
    background: rgb(255, 255, 255); 
    /* Fall-back for browsers that don't support rgba */
    background: rgba(255, 255, 255, .5);
}