/*@import url(http://fonts.googleapis.com/css?family=Roboto:300,900,300italic,700);*/

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,700,900,900italic);
* {
	font-family: "Source Sans Pro", sans-serif, serif;
	position: relative;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

p {
	display: block;
	font-size: 1em;
	max-width: 500px;
	font-weight: 300;
    line-height: 1.7em;
}

a {
	text-decoration: none;
	color: black;
	font-style: italic;
	cursor: pointer;
}

ul {
	list-style: circle;
}

* div {
	margin-left: auto;
	margin-right: auto;
	width: 90%;
    position: relative;
}

@media screen and (max-width:500px) {
	* div {
		width: 99%;
	}

    p {
        margin-left: 5px;
    }
}

h1 {
	font-size: 1.7em;
}

h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1.3em
}

h4 {
	font-size: 1.2em;
}

h5 {
	font-size: 0.8em;
}

h6 {
	font-size: 0.6em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
}

html {
	/*fallback*/
	/*
    background-color: #CC0000;

    background: -webkit-gradient(linear,left bottom, left top, to(#CC0000), from(#FFFFFF));
    background: -webkit-linear-gradient(top, #CC0000, #FFFFFF);
    background: -moz-linear-gradient(top, #CC0000, #FFFFFF);
    background: -ms-linear-gradient(top, #CC0000, #FFFFFF);
    background: -o-linear-gradient(top, #CC0000, #FFFFFF);
    */
}

body {
	/*fallback*/
	background-color: #F7F7F7;
	background: -webkit-gradient(linear, left bottom, left top, to(#F7F7F7), from(#D7D7D7));
	background: -webkit-linear-gradient(top, #F7F7F7, #D7D7D7);
	background: -moz-linear-gradient(top, #F7F7F7, #D7D7D7);
	background: -ms-linear-gradient(top, #F7F7F7, #D7D7D7);
	background: -o-linear-gradient(top, #F7F7F7, #D7D7D7);
	/*
    -moz-box-shadow: 3px 3px 3px 3px #4E5E6D;
    -webkit-box-shadow: 3px 3px 3px 3px #4E5E6D;
    box-shadow: 3px 3px 3px 3px #4E5E6D;
    width: 92%;*/
	margin: 0px;
}

#titleBar {
	/*fallback*/
	background-color: #425563;
	width: 100%;
	/*background-color: #4A4A4A;*/
	position: relative;
}

#titleBar .upper_content {
	display: table-cell;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 5px;
}

#headshot {
	display: inline-block;
	vertical-align: middle;
	width: 25%;
	max-width: 175px;
	margin-left: 5%;
	margin-right: 1%;
}

#logo {
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
	width: 65%;
	color: #1D62F0;
	padding-left: 2%;
}

@media screen and (max-width:400px) {
	#headshot,
	#logo {
		width: 95%;
		display: block;
		margin-left: auto;
		margin-right: auto;
		vertical-align: none;
	}
	#logo {
		margin-bottom: 10px;
	}
}

#navBar {
	width: 100%;
	box-sizing: border-box;
	background-color: #BA0C2F;
	text-align: center;
	text-transform: uppercase;
	padding: 0px;
}

.navbar-fixed {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
}

.navigation {
	width: 100%;
	margin: 0px;
	padding: 0px;
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.navBar_item {
	cursor: pointer;
	flex-basis: 25%;
	flex-grow: 1;
	flex-shrink: 1;
/*	min-width: 201px;*/
	align-self: auto;
	cursor: pointer;
	color: #ffffff;
	font-size: 1.25em;
	padding: .5em 1em .5em 1em;
	text-decoration: none;
	font-weight: bold;
	transition: 0.2s;
}

.navBar_item:hover {
	background-color: rgba(255, 255, 255, 0.2);
}

.navBar_item:active,
#logo:active {
	background-color: rgba(0, 0, 0, 0.32);
}

.currentPage {
	background-color: rgba(0, 0, 0, 0.3);
}


/* -------- FOOTER -------- */

footer {
	display: block;
	position: relative;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.flexWrap {
	position: relative;
	background-color: #425563;
	height: auto;
	width: 100%;
	font-family: cursive;
	font-style: italic;
	position: relative;
	display: inline-flex;
	margin: 0px;
	padding: 0px;
	font-size: .75em;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.footFlexItem {
	vertical-align: middle;
	color: white;
	align-self: auto;
	flex-basis: 33%;
	flex-grow: 1;
	flex-shrink: 1;
}

.flexFootItem > *{
	margin: auto;
	width: 100%;
}


#connect {
	display: inline-block;
	margin: 1px 20p;
	width: auto;
	text-align: center;
}


#connect img {
	margin-left: 0;
	width: 10%;
	min-width: 40px;
	max-width: 55px;
	display: inline-block;
	vertical-align: middle;
	margin: 0px 2%;
}

#resume {
	font-weight: 900;
	text-align: left;
	text-indent: none;
	margin-left: 5px;
}

#copyright {
	text-align: right;
	text-indent: none;
	margin-right: 5px;
}

@media screen and (max-width:400px) {
	.flexFootItem {
		min-width: 390px;
	}
}


.mobileOnly {
	visibility: hidden;
}

.desktopOnly {
	visibility: visible;
}

@media screen and (max-width: 400px) {
	.mobileOnly {
		visibility: visible;
	}
	.desktopOnly {
		visibility: hidden;
	}
}