.project {
    width:98%;
    align-content: center;
    min-width: inherit;
}

.project_content, .project_carousel {
    display: inline-block;
    width: 45%;
}

@media screen and (max-width:800px){
    .project_content, .project_carousel {
        display: block;
        width: 98%;
    }
    
    .project h2, .project_content h3, .project_content h5, .project_content h6{
        text-align: center;
    }
}

.project_content {
    vertical-align: top;
    color: #333C45;
}

.project_content p {
    margin: 10px auto;
}

.project_content h5 {
    margin-bottom: 0%;
}

.project_content h6 {
    margin-top: 0%;
    margin-bottom: 0%;
}
    
.project_carousel {
    height:280px;
    margin-top:1%;
    margin-left: 6%;
}

@media screen and (max-width:800px){
    .project_carousel {
        margin-left: 0;
        margin-bottom: 1%;
    }
}

ul[rn-carousel] {
    margin-right: 10%;
    width:90%;
    height: inherit;
    vertical-align: bottom;
}

.project_carousel .rn-carousel-control {
    position: absolute;
    transform: translate(0, 250%);
    -moz-transform: translate(0, 250%);
    -o-transform: translate(0, 250%);
    -ms-transform: translate(0, 250%);
    -webkit-transform: translate(0, 250%);
    background-color: #ccc;
    padding: 1%;
}

.project_carousel .rn-carousel-control:active {
    background-color: darkgrey;
}

.project_carousel li {
    text-align: center;
    vertical-align: bottom;
}

.project_carousel img {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    max-width: 90%;
    max-height: 100%;
    vertical-align: bottom;
}

.project h2 {
    cursor: pointer;
    font-weight: 900;
    letter-spacing: 0.0625em;
    font-size-adjust: auto;
    text-decoration: none;
    color: black;
    text-shadow: 1px 2px 1px #BA0C2F;
}

.oldProjectBlock {
	width: 100%;
	margin: 10px auto;
}

.oldProjectBlock p {
	color: #BA0C2F;
	text-align: center;
	margin: 0px auto;
	padding-bottom: 10px;
	font-weight: bold;
	cursor: pointer;
}