#singleProjectContent {
    align-content: center;
    text-align: center;
}

#singleProjectContent h1 {
    font-size: 2.5em;
    font-weight: 900;
    letter-spacing: 0.0625em;
    font-size-adjust: auto;
    text-decoration: none;
    color: black;
    text-shadow: 1px 2px 1px #BA0C2F;
    font-style: italic;
}

#singleProjectContent a{
    display: block;
    cursor: default;
}

#singleProjectContent a *{
    cursor: pointer;
}

#singleProjectContent span *{
    display: inline-block;
    margin-left: 3%;
    margin-right: 3%;
}

#singleProjectContent p{
    display: block;
    text-align: left;
    max-width: 700px;
    margin-right: auto;
    margin-left: auto;
}

.partList {
    list-style-type: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.singleProject_carousel {
    width: 100%;
    height:320px;
    margin-top:1%;
    margin-bottom: 2%;
}

ul[rn-carousel] {
    width:100%;
    height: inherit;
    vertical-align: bottom;
}

.singleProject_carousel .rn-carousel-control {
    position: absolute;
    transform: translate(0, 250%);
    -moz-transform: translate(0, 250%);
    -o-transform: translate(0, 250%);
    -ms-transform: translate(0, 250%);
    -webkit-transform: translate(0, 250%);
    background-color: #ccc;
    padding: 1%;
}

.singleProject_carousel .rn-carousel-control:active {
    background-color: darkgrey;
}

.singleProject_carousel li {
    text-align: center;
    vertical-align: bottom;
    transition-duration: 2s;
    -webkit-transition-duration: 2s;
    -moz-transition-duration: 2s;
    -ms-transition-duration: 2s;
    -o-transition-duration: 2s;
}

.singleProject_carousel img {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    max-width: 90%;
    max-height: 100%;
    vertical-align: bottom;
}

.singleProjLinkImage {
    height: 60px;
}

.singleProjLinkText {
    margin-top: 0;
}